/* All web site */

@import url("../CSS/style-guide.css");

* {
  font-family: var(--font-family);
}

body {
  margin: 0;
  background-color: var(--neutral-color-1);
}

h1 {
  font-size: var(--desk-h1-size);
  font-weight: var(--desk-h1-weight);
  line-height: var(--desk-h1-line-height);
}

h2 {
  font-size: var(--desk-h2-size);
  font-weight: var(--desk-h2-weight);
  line-height: var(--desk-h2-line-height);
  color: red; 
  margin: 0;
}

h3 {
  font-size: var(--desk-h3-size);
  font-weight: var(--desk-h3-weight);
  line-height: var(--desk-h3-line-height);
  margin: 0;
}

h4 {
  font-size: var(--desk-h4-size);
  font-weight: var(--desk-h4-weight);
  line-height: var(--desk-h4-line-height);
  margin: 0;
}

h5 {
  font-size: var(--desk-h5-size);
  font-weight: var(--desk-h5-weight);
  line-height: var(--desk-h5-line-height);
  margin: 0;
}

h6 {
  font-size: var(--desk-h6-size);
  font-weight: var(--desk-h6-weight);
  line-height: var(--desk-h6-line-height);
  margin: 0;
}

p {
  font-size: var(--desktop-body);
  font-weight: var(--desktop-body);
  line-height: var(--desktop-body);
  margin: 0;
  color:green; 
}

.column-4,
.column-5,
.column-6 {
  display: none;
}

body {
  background-color: var(--neutral-color-1);
}

.mobile-menu {
  display: none;
}

.top-bar {
  background-color: var(--neutral-color-1);
  backdrop-filter: blur(300px);
  border-bottom: 1px solid var(--neutral-color-5);
  height: 65px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

#left-corner {
  min-width: 65px;
  min-height: 65px;
  border-right: 1px solid var(--neutral-color-5);
  background-color: var(--neutral-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-image: url(../images/fractal-portrait.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  display: flex;
  width: 100%;
  padding-left: 20px;
  max-height: 100%;
  align-content: center;
  font-weight: 300;
}

#top-name {
  height: 20px;
  margin: auto 0;
  align-content: center;
  font-size: 20px;
  font-weight: 500;
}

.desktop-nav {
  display: flex; /* Use Flexbox to align items side by side */
  align-items: center; /* Center items vertically */
  height: 65px;
}

.nav-item {
  display: flex; /* Aligns the anchor within the nav item */
  align-items: center;
  height: 100%;
}

.menu {
  display: none;
}

.nav-item a {
  text-decoration: none;
  color: var(--neutral-color-8);
  height: 100%;
  padding: 0 20px; /* Horizontal padding inside each nav item */
  display: flex; /* Aligns the anchor within the nav item */
  align-items: center;
}

a:hover {
  background-color: var(--neutral-color-2);
}

a:active {
  background-color: var(--neutral-color-3);
}

/* Main body*/

main {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

/* left-rail*/

.left-rail {
  background-color: var(--neutral-color-1);
  border-right: 1px solid var(--neutral-color-5);
  min-width: 65px;
  max-width: 65px;
  height: 100%;
  padding-top: 65px;
}

.out-item {
  align-items: center;
  height: 65px;
  width: 100%;
}

.out-item a {
  color: var(--neutral-color-8);
  height: 100%;
  padding: 0 20px; /* Horizontal padding inside each nav item */
  display: flex; /* Aligns the anchor within the nav item */
  align-items: center;
  justify-content: center;
}

.icon {
  fill: var(--neutral-color-8);
}

/* inner body*/

.inner-body::-webkit-scrollbar {
  display: none;
}

.inner-body {
  width: 100vw;
  overflow-y: scroll;
  padding-bottom: 200px;
  position: relative;
  overflow-x: hidden;
}

.breadcrumb {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: 40px;
}

.category {
  padding: 0 20px;
  font-weight: 100;
  margin: 0;
  max-height: 100%;
}

.project-name {
  padding: 0 20px;
  font-weight: 300;
  margin: 0;
  max-height: 100%;
}

.square-button {
  color: black;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-header {
  max-width: 100%;
  background-color: var(--neutral-color-1);
  padding: 165px 89px 125px 89px;
  top: 0px;
  overflow-x: hidden;
}

#headline {
  max-width: 1000px;
  margin: 0;
  padding-bottom: 30px;
}

#top {
  max-width: 600px;
  margin: 0;
  line-height: 1.4;
}



.column-1,
.column-2,
.column-3 {
  display: flex; /* Ativa o grid dentro das colunas */
  flex-direction: column; /* Organiza os itens na vertical (coluna) */
  gap: 21px; /* Espaçamento entre os itens */
  height: 100%;
}

/* Grid thumbnails */

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6,
.grid-item-7,
.grid-item-8,
.grid-item-9 {
  border-radius: 2px;
}

.grid-item-1 {
  width: 100%;
  aspect-ratio: 1;
  background-image: url(../images/project-placeholders/img-1.png);
  background-size: cover;
  background-position: center;
}

.grid-item-2 {
  width: 100%;
  aspect-ratio: 4/5;
  background-image: url(../images/project-placeholders/img-2.png);
  background-size: cover;
  background-position: center;
}

.grid-item-3 {
  width: 100%;
  aspect-ratio: 9/16;
  background-color: #8921af;
  background-image: url(../images/project-placeholders/img-7.png);
  background-size: cover;
  background-position: center;
}

.grid-item-4 {
  width: 100%;
  aspect-ratio: 9/16;
  background-color: #bb7f2b;
  background-image: url(../images/project-placeholders/img-6.png);
  background-size: cover;
  background-position: center;
}

.grid-item-5 {
  width: 100%;
  aspect-ratio: 4/5;
  background-color: #9b0a29;
  background-image: url(../images/project-placeholders/img-5.png);
  background-size: cover;
  background-position: center;
}

.grid-item-6 {
  width: 100%;
  aspect-ratio: 1;
  background-color: #2b2ba7;
  background-image: url(../images/project-placeholders/img-4.png);
  background-size: cover;
  background-position: center;
}

.grid-item-7 {
  width: 100%;
  aspect-ratio: 1;
  background-color: #ced0c8;
  background-image: url(../images/project-placeholders/img-9.png);
  background-size: cover;
  background-position: center;
}

.grid-item-8 {
  width: 100%;
  aspect-ratio: 1;
  background-color: #ced0c8;
  background-image: url(../images/project-placeholders/img-8.png);
  background-size: cover;
  background-position: center;
}

.grid-item-9 {
  width: 100%;
  aspect-ratio: 1;
  background-color: #ced0c8;
  background-image: url(../images/project-placeholders/img-3.png);
  background-size: cover;
  background-position: center;
}

.thumbnail {
  position: relative;
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  overflow: hidden;
}

.thumbnail img {
  display: block;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}


/* project page */

.project-header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: var(--neutral-color-1);
  padding: 115px 55px 50px 55px;
  gap: 5px;
  overflow-x: hidden;
  border-bottom: 1px solid var(--neutral-color-5);
}

.project-headline {
  margin: 0px;
}

.project-stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-xl);
  background-color: var(--neutral-color-1);
  padding: var(--space-xl);
  border-bottom: 1px solid var(--neutral-color-5);
}

.squad{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-l);
}

.role {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
}

.date {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
}


.squad .overline {
  color: var(--neutral-color-6);
}

.about-squad{
  width: 100%;
}




/* sections type */

.section-type-1{
  display: flex;
  justify-content: center;
  padding: var(--space-xl);
  gap: var(--space-xl);
  border-bottom: 1px solid var(--neutral-color-5);
}

.section-type-1 .image-container{
  width: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-color-2);
}

.section-type-2{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: var(--space-xl);
  gap: var(--space-xl);
  border-bottom: 1px solid var(--neutral-color-5);
}

.section-type-2 .image-container{
  width: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-color-2);
}

.section-type-3{
  display: flex;
  justify-content: center;
  padding: var(--space-xl);
  gap: var(--space-xl);
  border-bottom: 1px solid var(--neutral-color-5);
}

.section-type-3 .image-container{
  width: 50%;
  aspect-ratio: 4/5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-color-2);
}

.section-type-4{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: var(--space-xl);
  gap: var(--space-xl);
  border-bottom: 1px solid var(--neutral-color-5);
}

.section-type-4 .image-container{
  width: 50%;
  aspect-ratio: 4/5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-color-2);
}

.section-type-5{
  display: flex;
  flex-direction: column;
  padding: var(--space-xl);
  gap: var(--space-xl);
  border-bottom: 1px solid var(--neutral-color-5);
}

.section-type-5 .image-container{
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-color-2);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}


/* breackpoints */

@media (max-width: 630px) {
  h1 {
    font-size: var(--mobile-h1-size);
    font-weight: var(--desk-h1-weight);
    line-height: var(--desk-h1-line-height);
  }

  h2 {
    font-size: var(--mobile-h2-size);
    font-weight: var(--desktop-h2);
    margin: var(--desktop-h2);
  }

  h3 {
    font-size: var(--mobile-h3-size);
    font-weight: var(--desktop-h3);
    margin: var(--desktop-h3);
  }

  h4 {
    font-size: var(--mobile-h4-size);
    font-weight: var(--desktop-h4);
    margin: var(--desktop-h4);
  }

  h5 {
    font-size: var(--desktop-h5);
    font-weight: var(--desktop-h5);
    margin: var(--desktop-h5);
  }

  h6 {
    font-size: var(--mobile-h6-size);
    font-weight: var(--desktop-h6);
    line-height: var(--desktop-h6);
    margin: 0;
  }

  p {
    font-size: var(--desktop-body-siz);
    font-weight: var(--desktop-body);
    line-height: var(--desktop-body);
  }

  .left-rail {
    display: none;
  }

  .nav-item {
    display: none !important;
  }

  .menu {
    display: flex;
    align-items: center;
    height: 100%;

  }


  .menu a {
    text-decoration: none;
    color: var(--neutral-color-8);
    height: 100%;
    padding: 0 20px; /* Horizontal padding inside each nav item */
    display: flex; /* Aligns the anchor within the nav item */
    align-items: center;
  }

  .inner-body {
    width: 100vw !important;
    overflow-y: scroll;
    padding-bottom: 100px;
  }

  .inner-header {
    max-width: 100%;
    background-color: var(--neutral-color-1);
    padding: 100px 24px 65px 24px;
    top: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 colunas de tamanhos iguais */
    grid-auto-rows: auto; /* Altura padrão para as linhas */
    gap: 15px; /* Espaçamento entre os itens */
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
    top: 65px;
    max-width: 100%;
    border-top: 1px solid var(--neutral-color-5);
    border-bottom: 1px solid var(--neutral-color-5);
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5 {
    display: none;
  }

  .column-6 {
    background-color: rgb(255, 255, 255, 0%);
    display: flex; /* Ativa o grid dentro das colunas */
    flex-direction: column; /* Organiza os itens na vertical (coluna) */
    gap: 21px; /* Espaçamento entre os itens */
    height: 100%;
    width: 100%;
  }

  /* project page */

.project-header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: var(--neutral-color-1);
  padding: 89px 21px 34px;
  gap: 5px;
  overflow-x: hidden;
  border-bottom: 1px solid var(--neutral-color-5);
}

.project-headline {
  margin: 0px;
}

.text-container{
  width: 100%;
}

.section-type-1   {
  display: flex;
  flex-direction: column;
  padding: 34px 21px;
  gap: 21px;
}

.section-type-1 .image-container{
  width: 100%;
}

.section-type-2   {
  display: flex;
  flex-direction: column;
  padding: 34px 21px;
  gap: 21px;
}

.section-type-2 .image-container{
  width: 100%;
}

.section-type-3   {
  display: flex;
  flex-direction: column;
  padding: 34px 21px;
  gap: 21px;
}

.section-type-3 .image-container{
  width: 100%;
}

.section-type-4   {
  display: flex;
  flex-direction: column;
  padding: 34px 21px;
  gap: 21px;
}

.section-type-4 .image-container{
  width: 100%;
}

.section-type-5   {
  display: flex;
  flex-direction: column;
  padding: 34px 21px;
  gap: 21px;
}

.section-type-5 .image-container{
  width: 100%;
}

/* Mobile menu overlay */

.menu-body{
  height: 100dvh;
  width: 100vw;
  background-color: var(--neutral-color-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

.menu-top-bar{
  background-color: var(--neutral-color-1);
  backdrop-filter: blur(300px);
  border-bottom: 1px solid var(--neutral-color-5);
  height: 65px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  z-index: 1001;
}

.close-menu{
  display: flex; 
  align-items: center;
  height: 100%;
}

.close-menu a{
  text-decoration: none;
  color: var(--neutral-color-8);
  height: 100%;
  padding: 0 20px; 
  display: flex; 
  align-items: center;
  cursor: pointer;
}

.menu-list{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
   align-items: left;
  padding-top: 65px;
}

.list-item-1  {
  padding:34px;
  border-bottom: 1px solid var(--neutral-color-5);
  width:100vw;
}

.list-item-1 h2 {
  color: var(--neutral-color-8); 
}

.list-item-2 {
  padding:34px;
  border-bottom: 1px solid var(--neutral-color-5);
  width:100vw;
}

.list-item-2 h2 {
  color: var(--neutral-color-8);
}

.list-item-3 {
  padding:34px;
  border-bottom: 1px solid var(--neutral-color-5);
  width:100vw;
}

.list-item-3 h2 {
  color: var(--neutral-color-8); 
}

.menu-footer{
  padding: 20px;
  display: flex;
  max-width:100%;
  justify-content: center;
}

.menu-footer nav {
  width:100%;
  display: flex;
  justify-content: left;
}

.out-item {
  flex: 1;
  align-items: center;
  width: 33%
}

.out-item a{
  display: flex; justify-content: center;
}



}


@media (min-width: 631px) and (max-width: 1279px) {
  body {
    background-color: var(--neutral-color-1);
  }

  .top-bar {
    background-color: var(--neutral-color-1);
    backdrop-filter: blur(300px);
    border-bottom: 1px solid var(--neutral-color-5);
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 1;
  }

  #left-corner {
    min-width: 65px;
    min-height: 65px;
    border-right: 1px solid var(--neutral-color-5);
    background-color: var(--neutral-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-image: url(../images/Style-portrait.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .name {
    display: flex;
    width: 100%;
    padding-left: 20px;
    max-height: 100%;
    align-content: center;
    font-weight: 300;
  }

  #top-name {
    height: 20px;
    margin: auto 0;
    align-content: center;
    font-size: 20px;
    font-weight: 500;
  }

  .desktop-nav {
    display: flex; /* Use Flexbox to align items side by side */
    align-items: center; /* Center items vertically */
    height: 65px;
  }

  #menu {
    display: none;
  }

  .nav-item {
    display: flex; /* Aligns the anchor within the nav item */
    align-items: center;
    height: 100%;
  }

  .nav-item a {
    text-decoration: none;
    color: var(--neutral-color-8);
    height: 100%;
    padding: 0 20px; /* Horizontal padding inside each nav item */
    display: flex; /* Aligns the anchor within the nav item */
    align-items: center;
  }

  a:hover {
    background-color: var(--neutral-color-2);
  }

  a:active {
    background-color: var(--neutral-color-3);
  }

  /* left-rail*/

  .out-item {
    align-items: center;
    height: 65px;
    width: 100%;
  }

  .out-item a {
    color: black;
    height: 100%;
    padding: 0 20px; /* Horizontal padding inside each nav item */
    display: flex; /* Aligns the anchor within the nav item */
    align-items: center;
    justify-content: center;
  }

  .icon {
    fill: var(--neutral-color-8);
  }

  .column-1,
  .column-2,
  .column-3 {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colunas de tamanhos iguais */
    gap: 15px;
    background-color: var(--neutral-color-1);
    padding: 21px;
    position: sticky;
    top: 65px;
    max-width: 100%;
    border-top: 1px solid var(--neutral-color-5);
    border-bottom: 1px solid var(--neutral-color-5);
  }

  .column-4,
  .column-5 {
    background-color: rgba(12, 35, 137, 0);
    display: flex; /* Ativa o grid dentro das colunas */
    flex-direction: column; /* Organiza os itens na vertical (coluna) */
    gap: 21px; /* Espaçamento entre os itens */
    height: 100%;
  }
}

@media (min-width: 1280px) and (max-width: 1920px){

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: var(--neutral-color-1);
    padding: 21px;
    position: sticky;
    top: 65px;
    max-width: 100%;
    border-top: 1px solid var(--neutral-color-5);
    border-bottom: 1px solid var(--neutral-color-5);
  }


}

@media (min-width: 1921px) {

  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanhos iguais */
    grid-auto-rows: auto; /* Altura padrão para as linhas */
    gap: 13px; /* Espaçamento entre os itens */
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    height: auto;
  }

  

  .column-4,
  .column-5,
  .column-6 {
    display: none;
  }


  #menu {
    display: none;
  }
}
